p {
  color: #333;
}

a {
  color: #ed5057;
}

a:hover {
  color: #ed5057;
}

.fa-bars {
  margin-bottom: 15px;
  margin-top: 15px;
}

.top-nav {
  background-color: #fff;
  overflow: hidden;
  margin-top: -10px;
  margin-bottom: -10px;
}

.top-nav .nav-item .nav-link {
	color: #333;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 17px;
  padding: 45px 30px;
}

.top-nav .nav-link:hover {
  background-color: #ed5057;
	color: #fff;
}

.top-nav .dropdown-menu {
	background-color: #fff;
	color: #fff;
}

.bg-image-full {
  position: relative;
  z-index: 1;
  background: url("../images/starry-night.jpg") center center no-repeat;
  background-size: cover;
  
  &:before {
	content: '';
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background-color: #1f3644;
	opacity: .9;
}
}

.custom-form {
  position: relative;
  background: #fff;
  padding: 50px;
  margin: 100px 350px;
}

.custom-form a {
  color: #ed5057;
  font-weight: bold;
}

.custom-form a:hover {
  color: #ed5057;
  font-weight: bold;
}

.custom-form .btn {
  background-color: #ed5057;
  border: none;
  width: 100%;
}

.custom-form .btn:hover {
  background-color: #ed5057;
  opacity: .65;
  border: none;
  width: 100%;
}

.red {
  background-color: #ed5057;
  text-align: center;
  color: #fff;
  height: 400px;
  -webkit-clip-path: polygon(100% 0, 100% 50%, 50% 100%, 0 50%, 0 0);
  clip-path: polygon(100% 0, 100% 50%, 50% 70%, 0 50%, 0 0);
}

.red p {
  color: #fff;
}

.red .btn-sub {
  background-color: transparent;
  border: 1px solid #fff;
	border-radius: 1px;
  color: white;
  padding: 15px 32px;
	margin: 5px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
	text-transform: uppercase;
}

.red .btn-sub:hover {
  background-color: #fff;
  color: #ed5057;
}

.services {
  text-align: center;
}

.services h3 {
  color: #ed5057;
  margin-bottom: 20px;
}

.services a {
  color: #ed5057;
  font-weight: bold;
  text-transform: uppercase;
}

.services a:hover {
    color: #ed5057;
    font-weight: bold;
    text-transform: uppercase;
}

.fa-gavel, .fa-plane, .fa-life-ring {
  color: #ed5057;
  margin-bottom: 20px;
}

.places a:hover {
    color: black;
    text-decoration: none;
}

.places {
    margin-bottom: 0px;
    padding: 50px 0px;
    background-color: #f4f4f4;
}

.places .row {
    margin-top: 20px;
}

.places a {
    color: black;
}

.places .card {
    background-color: #fff;
    padding: 0;
    -webkit-border-radius: 1px;
    -moz-border-radius: 1px;
    border-radius: 1px;
}

.places .card img {
    width: 100%;
    height: 275px;
    border-top-left-radius: 1px;
    border-top-right-radius: 1px;
}

.places .card h4 {
    margin: 20px;
}

.places .card p {
    margin: 20px;
    opacity: 0.65;
}

.places .red-button {
    width: 90%;
    -webkit-transition: background-color 1s , color 1s; /* For Safari 3.1 to 6.0 */
    transition: background-color 1s , color 1s;
    min-height: 30px;
    background-color: #ed5057;
    color: #fff;
    text-align: center;
    font-weight: lighter;
    margin: 0px 20px 15px 15px;
    padding: 5px 0px;
    display: inline-block;
}

.places .red-button:hover {
    background-color: #ed5057;
    color: #fff;
    opacity: 0.65;
}

.footer {
  padding-top: 100px;
  padding-bottom: 100px;
  position: relative;
  z-index: 1;
  background: url("../images/mountainside-beach-town-large.jpg") center center no-repeat;
  background-size: cover;
  
  &:before {
	content: '';
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background-color: #1f3644;
	opacity: .9;
}
}

.footer-form {
  background: #fff;
  padding: 50px;
}

.footer-form a {
  color: #ed5057;
  font-weight: bold;
}

.footer-form .btn {
  background-color: #ed5057;
  border: none;
  width: 100%;
}

.footer-form .btn:hover {
  background-color: #ed5057;
  opacity: .65;
  border: none;
  width: 100%;
}

.footer-bottom {
  padding-top: 50px;
  padding-bottom: 50px;
  text-align: center;
  background-color: #1f3644;
}

.footer-bottom p {
  color: #fff;
}

.footer-bottom a {
  color: #ed5057;
}

.footer-bottom a:hover {
  color: #fff;
}

@media (min-width: 400px) { 
  .custom-form {
  background: #fff;
  padding: 50px;
  margin: 100px 20px;
}
  .red {
  background-color: #ed5057;
  text-align: center;
  color: #fff;
  height: 500px;
  -webkit-clip-path: polygon(100% 0, 100% 50%, 50% 100%, 0 50%, 0 0);
  clip-path: polygon(100% 0, 100% 50%, 50% 70%, 0 50%, 0 0);
}
  
  .red h1 {
    font-size: 2.1rem;
  }

  .services {
    margin-top: -100px;
  }

}

@media (min-width: 0px) { 
  .navbar-brand {
    display: none;
  } 
  .top-nav .nav-link:hover {
  background-color: #fff;
	color: #ed5057;
}
}

@media (min-width: 576px) { 
  .navbar-brand {
    display: none;
  } 
  .top-nav .nav-link:hover {
  background-color: #fff;
	color: #ed5057;
}
}

@media (min-width: 768px) {
 .navbar-brand {
    display: none;
  } 
  
.top-nav .nav-link:hover {
  background-color: #fff;
	color: #ed5057;
}
.red {
  margin-bottom: -70px;
  background-color: #ed5057;
  text-align: center;
  color: #fff;
  height: 400px;
  -webkit-clip-path: polygon(100% 0, 100% 50%, 50% 100%, 0 50%, 0 0);
  clip-path: polygon(100% 0, 100% 50%, 50% 70%, 0 50%, 0 0);
}
}


@media (min-width: 992px) { 
  .top-nav .nav-item .nav-link {
	color: #333;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 17px;
  padding: 45px 30px;
}

.top-nav .nav-link:hover {
  background-color: #ed5057;
	color: #fff;
}

.top-nav .dropdown-menu {
	background-color: #fff;
	color: #fff;
}
 .navbar-brand {
    display: inline;
  } 
  .red {
  margin-bottom: -70px;
  background-color: #ed5057;
  text-align: center;
  color: #fff;
  height: 400px;
  -webkit-clip-path: polygon(100% 0, 100% 50%, 50% 100%, 0 50%, 0 0);
  clip-path: polygon(100% 0, 100% 50%, 50% 70%, 0 50%, 0 0);
}
}


@media (min-width: 1200px) { 
  .top-nav .nav-item .nav-link {
	color: #333;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 17px;
  padding: 45px 30px;
}

.top-nav .nav-link:hover {
  background-color: #ed5057;
	color: #fff;
}

.top-nav .dropdown-menu {
	background-color: #fff;
	color: #fff;
}
  .navbar-brand {
    display: inline;
  } 
.custom-form {
  background: #fff;
  padding: 50px;
  margin: 100px 250px;
}
  
.red {
  margin-bottom: -70px;
  background-color: #ed5057;
  text-align: center;
  color: #fff;
  height: 400px;
  -webkit-clip-path: polygon(100% 0, 100% 50%, 50% 100%, 0 50%, 0 0);
  clip-path: polygon(100% 0, 100% 50%, 50% 70%, 0 50%, 0 0);
}
}